[run]
omit =
    examples/*
    tests/*
concurrency = multiprocessing
parallel = true
sigterm = true
data_file = .coverage
source = retail_ai

[report]
show_missing = true

[paths]
source =
    retail_ai/
